#root {
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.labelcheck {
  box-shadow: none;
  width: max-content;
}

.chec {
  height: 20px;
  box-shadow: none;
  width: 25px;
  margin: 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  color: silver;
}

.tabs_uno {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 400px;
  color: silver;
  margin-bottom: 8px;
}

.progressBar {
  width: 80%;
  position: relative;
  display: flex;
}

.tab {
 
  margin: 8px;
  width: 100%;
}

.tab.active {
  /*border-bottom: 4px solid #FF133B;*/
  color: #ED1C24;
  font-weight: 600;
}

.tab-content {
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  border-radius: 12px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  
}

.contenedorBotones {
  margin-top: 6px;
}

.textHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 322px;
  margin-top: 7px;
  margin-left: 0px;
}

.cardConteiner {
  padding: 12px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  height: 500px;
}

.card {
  width:359px;
  height: 115px;
  border-radius: 12px;
  border: 2px solid rgba(168, 167, 167, 0.74);
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 10px 10px -4px rgba(0, 0, 0, 0.21);
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation: blink 2s;
  background-image: radial-gradient(circle at center, #ffffff 0%, #ffffff 50%, #e6e6e6 100%);
  background-size: 400% 100%;
  background-position: 50% 50%;
}

.cardHeader {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.cardColapsada {
  width: 359px;
  height: 375px;
  border-radius: 0px 0px 12px 12px;
  border: 2px solid rgba(168, 167, 167, 0.74);
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 10px 10px -4px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 12px;
  border-top: none;
  text-align: start;
}

strong {
  color: #ED1C24;
}

.resaltado {
  color: rgba(34, 34, 34, 0.87);
}

.planText {
  padding: 15px;
}

.ulplanText {
  padding-right: 4px;
}

@keyframes blink {
  0% {
    background-position: 200% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.card:nth-child(1) {
  animation-delay: 2s;
}

.card:nth-child(2) {
  animation-delay: 3s;
}

.card:nth-child(3) {
  animation-delay: 4s;
}

.card-selected {
  margin-bottom: 0px;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 2px solid rgba(168, 167, 167, 0.74);
}

.badget {
  background-color: #ED1C24;
  border-radius: 100px;
  width:45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 20px;
  margin-right: 15px;
  /*box-shadow: 3px 10px 10px -4px rgba(0, 0, 0, 0.21);*/
}


.planesCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 135px;
}

.planesCardInfo h3 {
  font-size: medium;
}

.Imgcontainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottonPrecio {
  background-color: #ED1C24;
  color: #ffffff;
  font-weight: 600;
  padding: 8px;
  width: 85px;
  border-radius: 100px;
}

h2,
h3,
p {
  margin-bottom: 0px;
  margin-top: 4px;
}

h2 {
  font-weight: lighter;
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.cardDescr {
  width: 300px;
  height: 370px;
  border-radius: 12px;
  background-color: #ffff;
  border: 2px solid rgba(168, 167, 167, 0.74);
  box-shadow: 8px 10px 10px -4px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 20px;
}

.cardPlaceHolderImg {
  display: contents;
}

.cardimg {
  border-radius: 6px;
}

.cardtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
}

.cardDescrbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.badgetCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.planCardConteiner {
  margin-top: 30px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  height: 550px;
}

.planCardConteiner::-webkit-scrollbar {
  width: 6px;
  
}
.cardConteiner::-webkit-scrollbar {
  width: 6px;
 
}

.planCardConteiner::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.cardConteiner::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

#outlined-basic {
  background-color: #ffff;
  border-radius: 7px;
  /*box-shadow: 8px 10px 10px -4px rgba(0, 0, 0, 0.30);*/
}

.Navbar {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.forms{
display: flex;
flex-direction: column;
width: 349px;  
margin-top: 5px;
}




